# Elisp byte code
*.elc

# Customization settings.  We ignore these because they are automatically
# generated, and sometimes contain “local” information (e.g. safe themes,
# automatically installed packages).  And all of my real settings are in init.el
# anyway
/custom.el

# Installed packages
/elpa/

# Recovery and backup directories
/auto-save-list/
/.backup/

# Cache files and settings for packages
/tutorial/
/.emacs.desktop*
/.mc-lists.el
/smex-items
/bookmarks
/history
/ido.last
/places
/projectile-bookmarks.eld
/projectile.cache
/recentf
/semanticdb/
/session.*
/tramp
/tramp-auto-save
/url/
/var/
/abbrev_defs
/cider-repl-history
/eww-bookmarks
/.sx
/eshell/
/company-statistics-cache.el
/fixes/
/helm-adaptive-history
/el-get/
/site-lisp/
